<div class=" flex-1 items-center w-full h-16 px-4 md:px-6 z-49  print:hidden my-4 ">
    <!-- Navigation toggle button -->

    <div class=" hidden lg:flex lg:justify-center  m-5  ">
        <div class="lg:flex lg:flex-row text-gray-600 text-xl font-bold m-5">
            Add/Update Topics

        </div>

    </div>
    <form #topicPost="ngForm" (ngSubmit)="onSubmit(topicPost.value)" method="post">


        <!-- Checking div for ngfor-->
        <div class="flex items-center justify-center bg-gray-200 rounded-lg flex-col m-5 ">
            <div class="flex border-2 rounded-md bg-white border-teal-600 my-22 p-2 justify-around ">
                <input type="text" class="px-4 py-2 w-80 sm:w-140" name="title" placeholder="Enter topic name " [value]="updateHead" [(ngModel)]="updateHead">




            </div>
            <div class=" border-2 rounded-md bg-white border-teal-600 my-22 p-2 h-full overflow-y-scroll">
                <input type="text" class="px-4  w-80 sm:w-140 h-full   " name="topicLevel" placeholder="Enter topic level " [value]="updateLevel" [(ngModel)]="updateLevel">



            </div>

            <div class=" border-2 rounded-md bg-white border-teal-600 my-22 p-2 h-full overflow-y-scroll">
                <input name="timeStamp" type="text" class="px-4  w-80 sm:w-140 h-full" [value]="currentDateTime" [(ngModel)]="currentDateTime">



            </div>


            <div class="bg-white rounded-lg p-5 m-5">
                <textarea class="resize-x" matInput cdkTextareaAutosize cdkAutosizeMinRows="6" name="content" placeholder="Enter topic content " [value]=" updateContent" [(ngModel)]="updateContent"></textarea>
            </div>
            Preview:
            <div class="bg-white  rounded-lg px-50 py-20">

                <div [innerHTML]="updateContent">
                    {{updateContent}}
                </div>
            </div>

            <!--HTML Preview
            <div [innerHTML]="updateContent">
                {{updateContent}}

            </div>-->


            <div class="justify-between">
                <mat-label>Select parent topic</mat-label>
                <!--To post-->
                <select name="dropDown" class="form-control overflow-y-scroll m-5 p-5" (selectionChange)="ChangeTopic($event)" [(ngModel)]="selectedParentId" ngModel name="parentId">
                    <option #title (ngValue)="topics.id" *ngFor="let top of dropDown" [value]="top.id"  >
                        {{top.title}}
                        
                       
                    </option>
                  
                    
                </select>
                <mat-label>Update topic</mat-label>
                <!--To post-->
                <select name="dropDown" class="form-control overflow-y-scroll m-5 p-5" [(ngModel)]="selectedUpdate" (change)="getUpdate()" ngModel>
                
                    <option *ngFor="let topic of dropDown" [ngValue]="topic" >
                         
                           
                    
                        {{topic.title}}
                        
                            
                           
                        </option>
                   
                      
                        
                    </select>
            </div>




        </div>
        <div class="flex justify-center ">
            <button type="submit " class="text-black lg:mx-5 bg-blue-300 lg:text-white py-3 px-7 rounded-md ">Add
            
            </button>
            <button class="text-black lg:mx-5 bg-pink-400 lg:text-white py-3 px-7 rounded-md " routerLink="/symplified ">Back
            
            </button>



        </div>



    </form>
    <div class="flex justify-center m-5">
        <button class="text-black lg:mx-5 bg-orange-400 lg:text-white py-3 px-7 rounded-md   " (click)="putUpdate(parseID, topicPost.value) ">Update
                            
        </button>
    </div>

    <button (click)="checkTime()">
        Test
    </button>




</div>